// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
html,
body {
    background-color: $body-bg;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
}
button,
input,
select {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.full-height {
    min-height: 90vh;
}
.h-inherit {
    height: inherit;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.auth-box {
    min-height: 350px;
    width: 400px;
    background-color: $white;
    border-radius: 10px;
}
.padding {
    padding: 10px;
}
.navbar-brand {
    color: $primary !important;
}
.nav-clearfix {
    margin-top: 60px;
}
.dash-container {
    display: flex;
}
.sidebar {
    flex: 0.3;
    min-height: 100vh;
    background-color: $white;
}
.dash-content {
    padding: 10px;
    margin-left: 10px;
    flex: 0.7;
    min-height: 100vh;
    background-color: $white;
}
.sidebar-link {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    cursor: pointer;
    border-bottom: 1px solid $grey-light;
}
.sidebar-link:first-child {
    margin-top: 35px;
}
.sidebar-link:hover {
    background-color: $grey-light;
}
.btn-theme {
    background-color: $primary;
    border-radius: 20px !important;
    margin: 0 !important;
    color: $grey-light;
}
.title-header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-container {
    min-height: 50px;
    border: dotted 1px $primary;
    padding: 10px;
}
.dropzone {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}
.filename {
    position: absolute;
    top: 0;
}
